@import 'base';

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Open Sans', system-ui, -apple-system, sans-serif;
  line-height: 1.4;
  text-rendering: optimizeLegibility; 
}

.container {
  width: 720px;
  max-width: 90%;
  margin: 0 auto;
}

.hero {
  display: flex;
  margin: 60px 0;

  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 18px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
  }

  .social-list {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 22px;
    margin: 5px;
    padding: 12px 15px;
    color: inherit;
    text-decoration: none;

    &:hover {
      background: #f0f0f0;
    }
  }

  .social-list-item {
    font-size: 22px;
  }
}

.grid {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat( auto-fill, minmax( 200px, 1fr ) );
  grid-auto-rows: 100px;
}

.grid-item {
  background: #f0f0f0;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background: #dfdfdf;
    border-color: #999999;
  }
}

.grid-item--2x { 
  grid-row-end: span 2;
}
.grid-item--3x { 
  grid-row-end: span 3;
}
.grid-item--3x { 
  grid-row-end: span 4;
}

.footer {
  padding: 90px 0;
  font-size: 14px;
}

.light-box {
  position: fixed;
  top: 0;
  right: 0;
  bottom: -100px;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transform-origin: center top;
  transform: translateY(15px) scale(.95);
  transition: .2s opacity ease,
              .2s transform ease;

  &--active {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0) scale(1);
    background: #ffffff;
  }

  &__content {
    position: relative;
    margin-top: 60px;
    border: 1px solid red;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    opacity: .25;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &__photo-container {

  }

  &__photo {
    display: block;
    height: 600px;
    width: 400px;
    background: #f0f0f0;
    border: 1px solid #cccccc;
  }

}