@import 'base';

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Open Sans', system-ui, -apple-system, sans-serif;
  line-height: 1.4;
  text-rendering: optimizeLegibility; 
  background: #000;
  color: #fff;
}

.container {
  position: relative;
  width: 720px;
  margin: 0 auto;
  height: 100vh;
}

.title-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100vh;

  .title {
    font-family: 'Playfair Display';
  }

  .subtitle {
  }

  .subtitle label {
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 14px;
    opacity: .5;
  }
}


.film-strip {
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  right: 0;
}

.film-strip-frame {
  width: 400px;
  height: 600px;
  background-size: cover;
  margin: 60px auto;

  &:nth-of-type(1) {
    background-image: url('./img/RoysPeak.jpg');
  }
  &:nth-of-type(2) {
    background-image: url('./img/CastlePoint.jpg');
  }
  &:nth-of-type(3) {
    background-image: url('./img/Kea.jpg');
  }
  &:nth-of-type(4) {
    background-image: url('./img/Pukaki.jpg');
  }
  &:nth-of-type(5) {
    background-image: url('./img/SoloRock.jpg');
  }
  &:nth-of-type(6) {
    background-image: url('./img/IceCave.jpg');
  }

}


// https://www.etsy.com/listing/684514192/roys-peak-nz?ref=shop_home_active_8
// https://www.etsy.com/listing/696574201/castle-point-nz?ref=shop_home_active_23
// https://www.etsy.com/listing/684314576/kea-nz?ref=shop_home_active_14
// https://www.etsy.com/listing/684511792/pukaki-nz?ref=shop_home_active_4
// https://www.etsy.com/listing/698372109/solo-rock-nz?ref=shop_home_active_2
// https://www.etsy.com/listing/682930632/ice-cave-is?ref=shop_home_active_18
